<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="registers" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\tanvisha\insta_lite\App_Data\social.mdf;Integrated Security=True"/>
    <add name="con_str" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\tanvisha\insta_lite\App_Data\social.mdf;Integrated Security=True" providerName="System.Data.sqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
      
   
  </appSettings>
</configuration>
